/*font-family: 'Anton', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Oswald', sans-serif;*/
body {
	margin: 0;
	padding: 0;
}

.container {
}

header {
	display: flex;
	justify-content: space-around;
	height: 100px;
	background: gray;
}

.logo {
	background: gold;
}

.utility {
	background-color: #3f75a1;
}

h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: lowercase;
	font-size: 8em;
	color: tomato;
}

h2, p {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
}

nav li {
	font-family: 'Heebo', sans-serif;
	font-size: 1.25em;
	font-weight: 800;
	text-transform: uppercase;
}

nav li a {
	color: #fff;
	text-decoration: none;
}

section {
	background: tomato;
	padding: 0;
	margin: 0;
}