body {
	-webkit-font-smoothing: antialiased;
}


.secondary {
	display: flex;
	min-height: 500px;
}


.secondary {
	margin: 120px;
}

.about,
.photo,
.work,
.contact {
	width: 50%;
}

.content {
	background: #fb7b7b12;
}

.photo {
	background: url('../assets/img/display-kalee2.png') center center no-repeat;
	background-size: cover;

	&.ind {
		background: url('../assets/img/placeholder-in.jpg') center center no-repeat;
		background-size: cover;
	}
}

.intro {
	max-width: 50%;
	margin: 0 auto;
}

.portfolio li {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.logo  {
	position: relative;
	top: 1rem;
	left: 2rem;
	a {
		border: none;
	}

	
	svg {
		// background: #d8c311;
		box-shadow: -10px -10px 70px #eee;
		border: 2px dotted #ddd;
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		fill: black;
	}
}
